@font-face {
    font-family: 'Dosis';
    src: url('Dosis-VariableFont_wght.ttf') format('truetype');
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.book {
    border: 2px solid #212529;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    position: relative;
    transition: 0.4s;
    font-size: 1em;
}

.book:hover {
    /* transform: scale(1.01); */
    box-shadow: 5px 5px 5px #6C757D;
}

.book-content {
    overflow-wrap: break-word;
}

.book-header {
    text-decoration: underline;
    font-variation-settings: 'wght' 550;
}

.book-display-container {
    border: 2px solid #212529;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #6C757D;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 20vw));
    grid-auto-rows: minmax(max-content, 15vh);
    justify-content: space-evenly;
    flex: auto;
    padding: 15px;
    margin-top: 25px;
    width: 95%;
}

.have-read-button {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    transition: 0.15s;
    cursor: pointer;
}

.have-read {
    background-color: rgb(140, 255, 140);
}

.have-read:hover {
    background-color: rgb(69, 255, 69);
}

.have-not-read {
    background-color: rgb(255, 115, 115);
}

.have-not-read:hover {
    background-color: rgb(255, 85, 85);
}

.add-book-button,
.submit-button {
    cursor: pointer;
    flex: none;
    width: 15vw;
    height: 5vh;
    font-size: 1em;
    background-color: #DEE2E6;
    border: 2px solid #212529;
    border-radius: 25px;
    transition: 0.15s;
}

.add-book-button:hover,
.submit-button:hover {
    background-color: #c2c3c5;
}

.form-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.new-book-form {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #212529;
    border-radius: 25px;
    gap: 15px;
    padding: 40px 40px 20px;
    margin-top: 50px;
}

.expand-animate {
    animation: expand 0.4s linear;
}

.shrink-animate {
    animation: shrink 0.4s linear;
}

@keyframes expand {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

.form-data-entry {
    border: 2px solid #212529;
    border-radius: 25px;
    padding-left: 10px;
    height: 30px;
}

#book-have-read {
    cursor: pointer;
    position: relative;
    appearance: none;
    width: 100%;
    height: 30px;
    background-color: rgb(255, 115, 115);
}

#book-have-read:hover {
    background-color: rgb(255, 85, 85);
}

#book-have-read:checked {
    background-color: rgb(140, 255, 140);
}

#book-have-read:checked:hover {
    background-color: rgb(69, 255, 69);
}

#book-have-read::before {
    content: 'Have Not Read';
    position: absolute;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

#book-have-read:checked::before {
    content: 'Have Read';
}

.delete-book-button {
    position: absolute;
    top: 7px;
    right: 5px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: red;
    font-variation-settings: 'wght' 800;
    cursor: pointer;
    transition: 0.2s;
    width: calc(1em + 5%);
}

.delete-book-button:hover {
    background-color: rgb(255, 115, 115);
}

.submit-button {
    padding: 5px;
    margin-top: 20px;
}

.container {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 30px 0px;
    width: 100%;
    position: relative;
}

.footer {
    flex: none;
    width: 100vw;
    background-color: #E9ECEF;
    text-align: center;
    padding: 15px;
}

.twitter-link:visited {
    color: black;
}

.header {
    width: 100vw;
    text-align: center;
    padding: 25px;
    background-color: #E9ECEF;
    box-shadow: 0px 5px 5px #6C757D;
    flex: none;
    font-variation-settings: 'wght' 700;
}